*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#f3f3f3;
  font-family:sans-serif;
}

.app{
  max-width:500px;
  margin:auto;
  padding:20px;
  padding-bottom:120px;
}

h1{
  text-align:center;
  font-size:32px;
  margin:40px 0 28px;
}

.form{
  background:white;
  padding:18px;
  border-radius:18px;
  margin-bottom:24px;
  box-shadow:0 3px 14px rgba(0,0,0,0.08);
}

input,
textarea,
button{
  width:100%;
  margin-top:10px;
  padding:14px;
  border-radius:12px;
  border:1px solid #ccc;
  font-size:18px;
}

textarea{
  height:120px;
  resize:none;
}

button{
  background:black;
  color:white;
  border:none;
  font-weight:600;
}

.card{
  background:white;
  padding:18px;
  border-radius:18px;
  margin-bottom:16px;
  box-shadow:0 3px 14px rgba(0,0,0,0.08);

  height:auto !important;
  min-height:0 !important;
}

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.date{
  font-weight:bold;
  font-size:20px;
}

.pay{
  font-size:20px;
  font-weight:bold;
  color:#007aff;
}

.memo{
  display:block !important;

  margin-top:14px !important;
  margin-bottom:0 !important;

  padding:0 !important;

  height:auto !important;
  min-height:0 !important;

  text-align:left !important;

  font-size:20px !important;
  line-height:1.5 !important;

  white-space:pre-wrap !important;
}

.button-row{
  display:flex;
  gap:8px;
  margin-top:18px;
}

.button-row button{
  flex:1;
  margin-top:0;
  padding:12px 0;
  font-size:16px;
}
